html {
    height: 100%;
}

body {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 4px;
    margin-right: 4px;
    border-radius: 2px;
    background-color: white;
    border: none;
}

.question {
    font-size: 1.6em;
    font-weight: bold;
}